/*----------------------------------------------
 => styleSheet list
    ```````````````
  1) General
  2) Navbar Section
  3) Mobile navbar section
  4) Mega Menu "component"
  5) Carousel "Promotion Slider"
  6) products-wp
-----------------------------------------------*/
/*===============
  External helpers
================*/
@import url('https://fonts.google.com/specimen/Tajawal?subset=arabic#standard-styles');

/*===============
 1) General
================*/
:root {
    --bg-color: #C4FCF0;
    --txt-color: #222222; 
    --txt-color-hover: #696969;
    --text-color-second: #929292;
    --text-color-muted: #a7a7a7;
    --color-orange: #e86d0b;
}
body {
    font-family: Tajawal;
    background-color: rgb(202, 202, 202);
}
.main-nav-pd{
    padding: 0 50px;
}
.left-divider{
  border-left: 1px solid rgba(0, 0, 0, 0.205);
}
.font{
    font-family: Tajawal;
}
.a-weight-light{
    font-weight: light;
}
.a-weight-bold{
    font-weight: 800;
}
.right-content{
    right: 0;
    position: relative;
    float: right;
  }
.left-content{
    left: 0;
    position: relative;
    float: left;
  }
.orange-bg{
    background-color: var(--color-orange);
}
/*===============
 2) Navbar Section
================*/

/*Top ship + discount */
.ns-bg{
   background-color: var(--bg-color);
}
.ns-text-a{
    font-size: 12px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 500;
    font-family: Tajawal;
}
.ns-text-a:hover{
    text-decoration: none;
    color: var(--txt-color);
}
.ns-text-i{
    font-size: 15px;
}
/* Main nav */
.nm-text-a{
    font-size: 15px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 700;
    font-family: Tajawal;
}
.nm-text-a:hover{
    text-decoration: none;
    color: var(--txt-color-hover);
}
.nm-text i{
    font-size: 20px;
}
.nm-drop-text-a{
    font-size: 13px;
    text-decoration: none;
    color: var(--txt-color-second);
    font-weight: light;
    font-family: Tajawal;
}
.nm-drop-text-a:hover{
    font-size: 13px;
    text-decoration: none;
    color: var(--txt-color-second);
    font-weight: light;
    font-family: Tajawal;
}
.nm-drop{
    width: 210px;
    border: none;
    -webkit-box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
    box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
}
.nm-form{
    width: 65%;
}
.nm-form-bg{
    background-color: white;
}
.nm-form{
    font-size: 17px;
}
.nm-form-brand{
    font-size: 25px;
}
.none-hover{
    background-color: none;
}
/* ---- Responsive ---*/
@media screen and (max-width: 1350px) {
    .nm-form{
        width: 55%;
    }
}
@media screen and (max-width: 1200px) {
    .nm-form{
        width: 45%;
    }
}
@media screen and (max-width: 1000px) {
    .nm-form{
        width: 40%;
    }
}
/* ---- Hide the menu in Mobiles ---*/
@media screen and (max-width: 950px) {
    #main-navbar{
        display: none;
    }
}

/*===============
 3) Mobile Navbar Section
================*/
.mobile-nav-pd{
  height: 50px;
}
.right-ico{
  right: 0;
  position: relative;
  float: right;
}
.left-ico{
  left: 0;
  position: relative;
  float: left;
}
.nmm-text-h{
    font-size: 17px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 700;
    font-family: Tajawal;
}
.nmm-text-h:hover{
    font-size: 17px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 700;
    font-family: Tajawal;
}
.nmm-icon{
    background-color: var(--color-orange);
    border-radius: 3px;
    padding: 8px 10px;
}
.nmm-icon-p{
    margin-top: 10px;;
    font-size: 13px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 500;
    font-family: Tajawal;
}
.nmm-text-h2{
    font-size: 10px;
    text-decoration: none;
    color: var(--txt-color-hover);
    font-weight: 700;
    font-family: Tajawal;
}
.nmm-text-list{
    font-size: 15px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 800;
    font-family: Tajawal;
    text-decoration: none;
    list-style: none;
}
.nmm-icon-muted{
    background-color: var(--text-color-muted);
    border-radius: 3px;
    padding: 5px 10px;
}
.mobile-menu-index{
    z-index: 99;
}
/* ---- Hide the menu in Mobiles ---*/
@media screen and (min-width: 950px) {
    #mobile-navbar{
        display: none;
    }
}

.offcanvas-header{ display:none; }

@media (max-width: 950px) {

  .offcanvas-header{ display:block; }

  .navbar-collapse {

    position: fixed;

    top:0; 

    bottom: 0;

    left: 100%;

    width: 100%;

    padding-right: 1rem;

    padding-left: 1rem;

    overflow-y: auto;

    visibility: hidden;

    background-color: var(--bg-color);

    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;

  }

  .navbar-collapse.show {

    visibility: visible;

    transform: translateX(-100%);

  }

}
/*===============
 4) Mega menu
================*/

.mgm-text{
    color: var(--txt-color);
    font-size: 15px;
    font-weight: 600;
    font-family: Tajawal;
    transition: 0.7s;
}
.mgm-text:hover{
    color: var(--txt-color-hover);
    font-size: 15px;
    font-weight: 600;
    font-family: Tajawal;
    text-decoration: none;
    transition: 1s;
}
.mgm-shadow{
    -webkit-box-shadow: 0px 5px 73px -27px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 73px -27px rgba(0,0,0,1);
    box-shadow: 0px 5px 73px -27px rgba(0,0,0,1);
}
.mgm-dropdown-wd{
    width: 350px;
}
/* ---- Hide the menu in Mobiles ---*/
@media screen and (max-width: 970px) {
    #mega-menu{
        display: none;
    }
}

/*===============
 5) Carousel
================*/
.carousel-height{
    height: 350px;
}
/* ---- Hide in Mobiles ---*/
@media screen and (max-width: 970px) {
    #carousel-desktop{
        display: none;
    }
}
@media screen and (min-width: 970px) {
    #carousel-mobile{
        display: none;
    }
}



/*===============
 6) products-wp
================*/
.product-wp{
    padding: 25px 50px;
}
.product-wp-shadow{
    -webkit-box-shadow: 0px 0px 8px 5px rgb(214, 214, 214);
    -moz-box-shadow: 0px 0px 8px 5px rgb(214, 214, 214);
    box-shadow: 0px 0px 8px 5px rgb(214, 214, 214);
}
.product-wp-title{
    color: var(--txt-color);
    font-size: 20px;
    font-weight: 600;
    font-family: Tajawal;
    transition: 0.7s;
}
.product-wp-counter{
    background-color: var(--color-orange);
    padding: 3px 10px;
    border-radius: 1px;
    color:white;
    font-size: 15px;
    font-weight: 600;
    font-family: Tajawal;
    transition: 0.7s;
}
.product-wp-p{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
.product-wp-p:hover{
    -webkit-box-shadow: 0px 0px 12px 1px rgb(158, 158, 158);
    -moz-box-shadow: 0px 0px 12px 1px rgb(158, 158, 158);
    box-shadow: 0px 0px 12px 1px  rgb(158, 158, 158);
 }
.product-wp-p-img{
    height: 200px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
}
.product-wp-p-img img{ 
    max-width: 95%;
    max-height: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.product-wp-p-title{
    color: var(--txt-color);
    font-size: 15px;
    font-weight: 400;
    font-family: Tajawal;
    transition: 0.7s;
}
.product-wp-p-price{
    color: var(--txt-color);
    font-size: 17px;
    font-weight: 700;
    font-family: Tajawal;
    transition: 0.7s;
}
.product-wp-p-discount{
    background-color: var(--color-orange);
    padding: 2px 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: Tajawal;
    transition: 0.7s;
}
.product-wp-more{

}