/*----------------------------------------------
 => styleSheet list
    ```````````````
  1) General
  2) Navbar Section
  3) Mobile navbar section

-----------------------------------------------*/
/*===============
  External helpers
================*/
@import url('https://fonts.google.com/specimen/Tajawal?subset=arabic#standard-styles');

/*===============
 1) General
================*/
:root {
    --bg-color: #C4FCF0;
    --txt-color: #222222; 
    --txt-color-hover: #696969;
    --text-color-second: #929292;
}
body {
    font-family: Tajawal;
}
.main-nav-pd{
    padding: 0 100px;
}
.left-divider{
  border-left: 1px solid rgba(0, 0, 0, 0.205);
}
.font{
    font-family: Tajawal;
}
.a-weight-light{
    font-weight: light;
}
.a-weight-bold{
    font-weight: 800;
}
/*===============
 2) Navbar Section
================*/

/*Top ship + discount */
.ns-bg{
   background-color: var(--bg-color);
}
.ns-text-a{
    font-size: 12px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 500;
    font-family: Tajawal;
}
.ns-text-a:hover{
    text-decoration: none;
    color: var(--txt-color);
}
.ns-text-i{
    font-size: 15px;
}
/* Main nav */
.nm-text-a{
    font-size: 15px;
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 700;
    font-family: Tajawal;
}
.nm-text-a:hover{
    text-decoration: none;
    color: var(--txt-color-hover);
}
.nm-text i{
    font-size: 20px;
}
.nm-drop-text-a{
    font-size: 13px;
    text-decoration: none;
    color: var(--txt-color-second);
    font-weight: light;
    font-family: Tajawal;
}
.nm-drop-text-a:hover{
    font-size: 13px;
    text-decoration: none;
    color: var(--txt-color-second);
    font-weight: light;
    font-family: Tajawal;
}
.nm-drop{
    width: 210px;
    border: none;
    -webkit-box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
    box-shadow: 0px 0px 27px -6px rgba(171,171,171,1);
}
.nm-form{
    width: 65%;
}
.nm-form-bg{
    background-color: white;
}
.nm-form{
    font-size: 17px;
}
.nm-form-brand{
    font-size: 25px;
}
/* ---- Hide the menu in Mobiles ---*/
@media screen and (max-width: 950px) {
    #main-navbar{
        display: none;
    }
}

/*===============
 3) Mobile Navbar Section
================*/
.mobile-nav-pd{
  height: 50px;
}
.right-ico{
  right: 5px;
  position: relative;
  float: right;
}
.left-ico{
  left: 5px;
  position: relative;
  float: left;
}
/* ---- Hide the menu in Mobiles ---*/
@media screen and (min-width: 950px) {
    #mobile-navbar{
        display: none;
    }
}